<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/pkhare/git/API_Project">
        <classes>
            <class name="testScripts.Booking">
                <methods><include name="newBooking"/></methods>
            </class>
        </classes>
    </test>
</suite>